.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: end !important;
}

.align-items-center {
  align-items: center !important;
}

.p-2 {
  padding: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.relative {
  position: relative !important;
}